<h3>New Article</h3>

<%= form_for :article, url: articles_path do |f| %>
  <div>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :text %><br>
    <%= f.text_field :text %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>
